.text {
    color: aquamarine;
    text-align: start;
    font: bolder;
    float: left ;
}
.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: start;
}
.size-14 {
    background-color: azure;
    
}
p.author {
    color: rgb(66, 60, 60);
    text-align: left center;
    
}
image {
    float: 
}